:root {
  --base-white: #FFF;
  --base-black: #000;
  --primary: #651FFF;
  --primary-dark: #5218D0;
  --primary-accent: #ff4081;
  --secondary-accent: #2BA3FB;
  --error: #FB4E4E;
  --error-light: #FFBFBF;
  --success: #2BC945;
  --primary-title: #152536;
  --secondary-title: #312C3A;
  --primary-text: #152536;
  --secondary-text: color-mix(in srgb, var(--base-black) 60%, transparent);
  --tertiary-text: color-mix(in srgb, var(--base-black) 30%, transparent);
  --primary-background: #F8F8F8;
  --secondary-background: #DBE2E6;
}