:root {
  --color-white: #FFF;
  --color-dark: #000;
  --color-red-1: #FB4E4E;
  --color-red-2: #FFBFBF;
  --color-pink: #FF4081;
  --color-violet: #5218D0;
  --color-green: #2BC945;
  --color-gray-1: #F8F8F8;
  --color-gray-2: #DBE2E6;
  --color-gray-3: #666;
  --color-gray-4: #152536;
  --color-gray-5: #312C3A;
  --transition-duration: 0.2s;
}