.primary {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-text);
}

.secondary {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text);
}

.tertiary {
  font-size: 16px;
  font-weight: 400;
  color: var(--tertiary-text);
}